@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Source Code Pro, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    font-family: Source Code Pro, 'Times New Roman', Times, serif;
}

.fullscreen-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: pointer;
}

#welcome > h1,
#welcome-back > h1 {
    font-weight: 300;
    font-size: calc(3.3vmax + 1rem);
    /* font-size: 4.5rem; */
    text-align: center;
    max-width: 90%;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    opacity: 1;
    animation: fade-down 2s ease-in-out;
}

#welcome > h1 > .user {
    font-weight: 300;
    font-size: calc(2vmax + 1rem);
}

#welcome {
    display: none;
    margin: 0 auto;
}

#createUsername {
    flex-direction: column;
    display: none;
}

#welcome-back {
    display: none;
}

#createUsername > h1 {
    font-weight: 300;
    font-size: calc(3.3vmax + 1rem);
}

#createUsername > input {
    font-family: Source Code Pro, 'Times New Roman', Times, serif;
    font-size: calc(2vmax + 1rem);
    text-align: center;
    padding: .3em 0;
}

#createUsername > button {
    font-size: calc(2vmax + 1rem);
    font-weight: 200;
    padding: .2em .5em;
    margin-top: .5em;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title > h1 {
    font-weight: 300;
    font-size: calc(3.3vmax + 1rem);
}

.title > h2 {
    font-weight: 300;
    font-size: calc(1vmax + .5rem);
    /* max-width: 750px; */
}

.title > button {
    font-size: calc(1vmax + 1rem);
    font-weight: 200;
    padding: .2em .5em;
    margin-top: .5em;
}

#semicolonMarket {
    display: none;
}

@keyframes fade-down {
    from {
        transform: translateY(-50px); 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}

@keyframes fade-out {
    from {
        opacity: 1; 
    }
    to { 
        opacity: 0; 
    }
}

